  *,::after,::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  :root{
    --bg: #F8FBFF;

  }
  body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

.registration-form  > div{
display:grid;
grid-template-columns: 1fr;
}
.registration-form  > div >label{
  display:grid;
  grid-template-columns: 1fr;
  }
  .registration-form  > div>input{
    display:grid;
    grid-template-columns: 1fr;
    }
    
  